<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Do you want to study in UCLA one of the best university in the world !! Let's do it</h1>
    <h1>key in your score and we will help you knowing the chance you can get in UCLA</h1>
    
  </body>
</html>

